*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#1e1e1e;
    color:#f2f2f2;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-evenly;
    list-style:none;
    background-color:cadetblue;
    padding:15px;
}

.navbar a{
    color:rgb(0, 0, 0);
    font-size:24px;
    text-decoration:none;
}

.navbar a:hover{
    color:black;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.chat p{
    position:fixed;
    right:20px;
    bottom:20px;
    font-size:40px;
    cursor:pointer;
}

.second{
    height:700px;
    background-color:pink;
    color:black;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
}